<!DOCTYPE html>
<html>
  <head>
    <title>Loading...</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login Successful</h1>
    <p>Profile: <%= profile.firstName.localized.en_US %></p>
  </body>
  <script>
    var profileString = <%- JSON.stringify(profile)  %>
    <%- console.log(profile.firstName.localized.en_US) %>
    window.opener.postMessage({'type': 'profile', 'profile': profileString}, '*')
    window.close();
  </script>
</html>
